# Ignore node_modules directory
node_modules/

# Ignore built application files
dist/

# Ignore log files
logs/

# Ignore environment file
.env
.prod.env

# Ignore configuration files
config/*.json

# Ignore local development files
.vscode/

# Ignore npm debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore macOS file system metadata
.DS_Store

# Ignore Windows Thumbs.db files
Thumbs.db
